{% extends "banking/layout.html" %}
{% load static %}

{% block body %}

<div id="index">
    <h1>Hello, {{ user.username }}!</h1>
    <hr>
    <h2>Thank you for choosing myFinancial Tracker!</h2>
    <br>
    <h3>Account Balances</h3>
    <h5>Checking Account: <strong class="hl">${{ balances.checking }}</strong></h5>
    <h5>Savings Account: <strong class="hl">${{ balances.savings }}</strong></h5>
    <br><br><br>
    <h6>*Please choose an option from the navigation bar above.</h6>
</div>

{% endblock %}