{% extends "banking/layout.html" %}
{% load static %}

{% block body %}

<h1>Recurring Monthly Bills/Payments</h1>
<hr>
<div id="add-view">
    <h3>Add</h3>
    <form id="add-form">
        <div class="form-group">
            <label for="account">Select Account:</label>
            <select name="account" id="raccount" class="form-control" required>
                <option disabled selected value> -- select option -- </option>
                <option value="checking">Checking Account</option>
                <option value="savings">Savings Account</option>
            </select>
        </div>
        <div class="form-group">
            <label for="rtype">Select Type:</label>
            <select name="rtype" id="rtype" class="form-control" required>
                <option disabled selected value> -- select option -- </option>
                <option value="bill">Bill</option>
                <option value="payment">Payment</option>
            </select>
        </div>
        <div class="form-group">
            Description: <input type="text" class="form-control" id="add-name" placeholder="Phone Bill" required>
        </div>
        <div class="form-group">
            Amount ($): <input type="number" step=0.01 min=0 class="form-control" id="add-amount" placeholder="0.00" required>
        </div>
        <div class="form-group">
            Day of the Month: <input type="text" class="form-control" id="day" placeholder="15" required>
        </div>
        <input type="submit" class="btn btn-primary" id="submit-add" value="Add" onclick="add()">
    </form>
</div>
<hr>
<div id="remove-view">
    {% if message %}
        <h3 id="message">{{ message }}</h3>
    {% else %}
        <h5>Recurring Bills and Payments</h5>
        {% for item in recurring %}
            <div class="card">
                <div class="card-header">
                    <h6>{{ item.name }}</h6>
                    <form action="{% url 'remove' item.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger save" type="submit" value="remove" id="remove{{ item.id }}">Remove</button>
                    </form>
                </div>
                <div class="card-body">
                    <div>Amount: ${{ item.amount }}</div>
                    <div>Day of the Month: {{ item.day }}</div>
                    <div>Account: {{ item.account }}</div>
                    {% if item.bill %}
                        <div>Type: Bill</div>
                    {% else %}
                        <div>Type: Payment</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'banking/recurring.js' %}"></script>
{% endblock %}