body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}
a {
    float: right;
    color: black;
    text-decoration: none;
    padding-right: 20px;
    padding-top: 25px;
}
a:hover {
    text-decoration: underline;
    color: black;
}
#image {
    clear: both;
    margin-top: 150px;
    text-align: center;
    margin-bottom: 50px;
}
form {
    text-align: center;
}
#text {
    width: 750px;
    height: 50px;
    border-width: thin;
    border-color: lightgray;
    border-radius: 25px;
    margin-bottom: 20px;
    padding-left: 10px;
}
#text:hover {
    box-shadow: 0 0 5px gray;
}
.submit {
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    margin-right: 12px;
}
.submit:hover {
    box-shadow: 0 0 3px gray;
    border: 2px black;
}
header {
    background-color: #f1f1f1;
    top: 0;
    width: 100%;
    height: 85px;
}
#img-adv {
    float: left;
    padding-top: 25px;
    padding-left: 20px;
    text-align: left;
    margin-bottom: 50px;
}
h4 {
    color: crimson;
    clear: both;
    margin-left: 75px;
}
label {
    margin-left: 50px;
}
.adv-form {
    clear: both;
    margin-top: 50px;
    text-align: left;
}
.adv-text {
    width: 735px;
    height: 35px;
    border-width: thin;
    border-color: lightgray;

}
.adv-text:focus {
    box-shadow: 0 0 5px cornflowerblue;
    border: cornflowerblue;
    outline: none;
}
#text {
    width: 750px;
    height: 50px;
    border-width: thin;
    border-color: lightgray;
    border-radius: 25px;
    margin-bottom: 20px;
    padding-left: 10px;
    outline: none;
}
#text:hover {
    box-shadow: 0 0 5px gray;
    outline: none;
}
#adv:hover {
    box-shadow: 0 0 3px gray;
    border: 2px black;
}
#adv {
    background-color: cornflowerblue;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 12px 20px;
}
.container {
    float: left;
    margin: 10px;
}
.row div {
    display: flex;
    flex-wrap: wrap;
}
#col-header {
    font-size: 20px;
    margin-left: 50px;
}
#descriptions {
    margin-top: 70px;
    color: dimgray;
}
#des-head {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}
p {
    font-size: 14px;
    padding-bottom: 15px;
}
span {
    font-family: "Courier New";
}
@media (max-width: 1500px) {
    #descriptions {
        display: none;
    }
}