{% extends "auctions/layout.html" %}

{% block body %}

    <h1>Create New Auction Listing</h1>
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="title" placeholder="Title" required>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="description" placeholder="Enter item description..." rows="8" required></textarea>
        </div>
        <div class="form-group">
            <input class="form-control" type="number" step="0.01" name="price" placeholder="Price" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="photo" placeholder="Photo URL">
        </div>
        <div class="form-group">
            <label for="condition">Choose condition of item:</label>
            <select name="condition" id="condition" class="form-control" required>
                <option disabled selected value> -- select condition -- </option>
                <option value="new">New</option>
                <option value="like new">Like New</option>
                <option value="good">Good</option>
                <option value="poor">Poor</option>
            </select>
        </div>
        <div class="form-group">
            <label for="category">Choose a category:</label>
            <select name="category" id="category" class="form-control" placeholder="Category" required>
                <option disabled selected value>-- select a category --</option>
                <option value="Electronics">Electronics</option>
                <option value="Home">Home</option>
                <option value="Garden">Garden</option>
                <option value="Sports">Sports</option>
                <option value="Books">Books</option>
                <option value="Fashion">Fashion</option>
                <option value="Toys">Toys</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Create">
    </form>

{% endblock %}